@font-face {
    font-family: 'Fixel Regular';
    src: local('Fixel Display Regular'), local('Fixel-Display-Regular'),
    url('assets/fonts/FixelDisplay-Regular.woff2') format('woff2'),
    url('assets/fonts/FixelDisplay-Regular.woff') format('woff'),
    url('assets/fonts/FixelDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fixel Bold';
    src: local('Fixel Display Bold'), local('Fixel-Display-Bold'),
    url('assets/fonts/FixelDisplay-Bold.woff2') format('woff2'),
    url('assets/fonts/FixelDisplay-Bold.woff') format('woff'),
    url('assets/fonts/FixelDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Fixel Semibold';
    src: local('Fixel Display SemiBold'), local('Fixel-Display-SemiBold'),
    url('assets/fonts/FixelDisplay-SemiBold.woff2') format('woff2'),
    url('assets/fonts/FixelDisplay-SemiBold.woff') format('woff'),
    url('assets/fonts/FixelDisplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Basenji ExtraLight';
    src: url('assets/fonts/basenji-extralight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Basenji Light';
    src: url('assets/fonts/basenji-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
.basenji-extralight {
    font-family: 'Basenji ExtraLight', sans-serif;
}
.basenji-light {
    font-family: 'Basenji Light', sans-serif;
}
.fixel-regular {
    font-family: 'Fixel Regular', sans-serif;
}
.fixel-bold {
    font-family: 'Fixel Bold', sans-serif;
}
.fixel-semibold {
    font-family: 'Fixel Semibold', sans-serif;
}
.color-white {
    color: #FFFFFF;
}
.uppercase {
    text-transform: uppercase;
}
html {
    font-size: 20px;
    min-height: 100vh;
    background: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #1D1D1D;
    letter-spacing: 0;
    line-height: 104%;
    text-decoration: none;
    border: none;
}